<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.aihdint.aihd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.aihdint.aihd.app.AppController"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="DATABASE"
            android:value="aihd.db" />
        <meta-data
            android:name="VERSION"
            android:value="4" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="org.aihdint.aihd" />

        <activity
            android:name="org.aihdint.aihd.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.aihdint.aihd.introSlider.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.aihdint.aihd.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="org.aihdint.aihd.patient.Register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.aihdint.aihd.UploadRecord"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.aihdint.aihd.patient.Patients"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.aihdint.aihd.MainActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.aihdint.aihd.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.aihdint.aihd.forms.DM_Initial"
            android:label="DM HTN Initial"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.aihdint.aihd.forms.DM_FollowUp"
            android:label="DM HTN Follow Up "
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="resources.ResourcesActivity"
            android:label="@string/resources"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="resources.HelpdeskActivity"
            android:label="@string/helpdesk"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />


        <activity android:name=".resources.ViewResourcesActivity"
            android:label="@string/resources"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name="org.aihdint.aihd.patient.Patient_Reports"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="org.aihdint.aihd.patient.Profile"
            android:label="Profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="org.aihdint.aihd.View_Reports"
            android:label="Profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="org.aihdint.aihd.patient.Transfer"
            android:label="Transfer"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="org.aihdint.aihd.forms.DM_Initial_View"
            android:label="DM Initial Form"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="org.aihdint.aihd.forms.DM_HTN_Forms"
            android:label="DM Forms"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <!-- Intent service -->
        <service
            android:name="org.aihdint.aihd.services.LoadFiles"
            android:exported="false"
            android:process=":loadFiles" />
        <service
            android:name="org.aihdint.aihd.services.LoadLocations"
            android:exported="false"
            android:process=":loadLocations" />
        <service
            android:name="org.aihdint.aihd.services.LoadConcepts"
            android:exported="false"
            android:process=":loadConcepts" />
        <service
            android:name="org.aihdint.aihd.services.LoadPatients"
            android:exported="false"
            android:process=":loadPatients" />
        <service
            android:name="org.aihdint.aihd.services.LoadAlarm"
            android:exported="false"
            android:process=":loadAlarm" />

        <!-- Receiver -->

        <receiver
            android:name="org.aihdint.aihd.app.ScheduledReceiver"
            android:process=":alarmReceiver" />

        <activity
            android:name="org.aihdint.aihd.resources.Pdf1"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.aihdint.aihd.resources.Pdf2"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.aihdint.aihd.resources.Pdf3"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.aihdint.aihd.resources.Pdf4"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.aihdint.aihd.resources.Pdf5"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>